* {
    margin: 0;
    padding: 0;
}

.view-book-main-cnt {
    padding: 0px 150px 0px 150px;
}
.view-book-home-or-book-qnty-cnt {
    display: flex;
    padding: 25px 0px 5px 0px;
    gap: 6px;
    :hover {
        cursor: pointer;
    }
    .home-cnt {
        color: #9d9d9d;
        font: 18px/30px Roboto;
    }

    .book-qnty-cnt {
        color: black;
        font: 18px/30px Roboto;
    }
}
.view-book-inner-main-cnt {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px;
}
.view-book-img-main-cnt {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.view-book-small-img-cnt {
    display: flex;
    flex-direction: column;
    // gap: 5px;
}
.view-book-1st-small-img,
.view-book-2nd.-small-img {
    width: 60px;
    height: 80px;
    border: 2px solid #d1d1d1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-book-1st-small-img img,
.view-book-2nd-small-img img {
    width: 80%;
    height: 80%;
    object-fit: cover;
}
.view-book-large-img-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 408px;
    height: 523px;
    border: 2px solid #d1d1d1;
}

.view-book-large-img-cnt img {
    width: 80%;
    height: 84%;
    // object-fit: cover;
}

.view-image-add-wish-opt-cnt {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}
.bookView-quantityControl-ctn{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 21%;
    background-color: lightgrey;
    width: 50%;
    border-radius: 4px;
    #bookView-decrease-btn, 
    #bookView-increase-btn{
        width: 30%;
    }
}
.book-view-details-main-cnt {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 43%;
}
.book-view-book-name {
    text-align: left;
    font: normal normal normal 36px / 41px STATUS-BAR;
    letter-spacing: 0px;
    color: #0a0102;
    opacity: 1;
}
.book-view-author-name {
    font: normal normal normal 20px/19px Roboto;
    letter-spacing: 0px;
    color: #878787;
    opacity: 1;
    margin-top: 3px;
}
.book-view-rating-review-cnt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 7px;
    gap: 5px;
    .book-view-rating-cnt {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background: #388e3c 0% 0% no-repeat padding-box;
        border-radius: 1px;
        opacity: 1;
        color: #ffffff;
        width: 38px;
        height: 23px;
        font-size: small;
        padding: 1px 7px 1px 7px;
        gap: 2px;
    }
    .book-view-review-cnt {
        text-align: left;
        font: normal normal normal 18px/15px Roboto;
        letter-spacing: 0px;
        color: #878787;
        opacity: 1;
    }
}
.book-view-discnt-ori-price-cnt {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
    gap: 15px;
    padding-bottom: 15px;
    .book-view-discnt-price {
        text-align: left;
        font: normal normal bold 36px/52px Roboto;
        letter-spacing: 0px;
        color: #0a0102;
        opacity: 1;
    }
    .book-view-actual-price {
        text-align: left;
        text-decoration: line-through;
        font: normal normal normal 21px/52px Roboto;
        letter-spacing: 0px;
        color: #878787;
        opacity: 1;
    }
}
.book-view-descrp-cnt {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 45px;
    .book-view-head-title {
        color: #878787;
    }
    .book-view-para {
        color: #373434;
    }
}
.book-view-cust-feebk-main-cnt {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    p {
        font-size: larger;
        padding-bottom: 15px;
    }
}
.book-view-cust-review-main-cnt {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.book-view-cust-review-cnt {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 0px;
    gap: 5px;
}
.book-view-cust-review-rating {
    padding-left: 45px;
}
.book-view-cust-name-rating-cnt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.book-view-cust-avtar-name-cnt {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.book-view-opt-rating-main-cnt{
    background-color: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.book-view-submit-btn{
    display: flex;
    justify-content: flex-end;
    padding-top: 15px;
}
.book-view-comment-inpt{
    background-color: #F5F5F5;

}
.book-view-cust-review-para {
    color: #707070;
    font-size: medium;
    padding-left: 45px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .view-book-main-cnt {
        padding: 0px 20px;
    }

    .view-book-home-or-book-qnty-cnt {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        padding: 20px 0px;
    }

    .view-book-inner-main-cnt {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .view-book-img-main-cnt {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .view-book-small-img-cnt {
        display: none;
    }
    .view-book-img-add-wish-cnt {
        display: flex;
        flex-direction: column;
    }
    .view-book-large-img-cnt {
        width: 300px;
        height: 400px;
    }
    
    .view-image-add-wish-opt-cnt{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .book-view-details-main-cnt {
        width: 100%;
        padding: 0;
    }

    .book-view-book-name {
        font-size: 28px;
    }

    .book-view-author-name {
        font-size: 16px;
    }

    .book-view-rating-review-cnt {
        display: flex;
        align-items: center;
    }

    .book-view-discnt-price {
        font-size: 28px;
    }

    .book-view-actual-price {
        font-size: 18px;
    }

    .book-view-descrp-cnt {
        padding-top: 20px;
        gap: 15px;
        padding-bottom: 30px;
    }

    .book-view-cust-feebk-main-cnt {
        margin-top: 15px;
    }

    .book-view-cust-review-cnt {
        margin: 15px 0px;
    }

    .book-view-cust-review-rating {
        padding-left: 20px;
    }

    .book-view-cust-name-rating-cnt {
        gap: 3px;
    }

    .book-view-cust-avtar-name-cnt {
        gap: 5px;
    }

    .book-view-opt-rating-main-cnt {
        padding: 15px;
        gap: 4px;
    }

    .book-view-submit-btn {
        padding-top: 10px;
    }

    .book-view-cust-review-para {
        padding-left: 20px;
        font-size: small;
    }
    .bookView-quantityControl-ctn{
        width: 66%;
    }
}
