*{
    margin: 0;
    padding: 0;
}
.cart-main-cnt{
    padding: 0px 150px 0px 150px;
}
.cart-home-or-my-cart-cnt{
    display: flex;
    padding: 25px 0px 5px 0px;
    gap: 6px;
    :hover {
        cursor: pointer;
    }
    .home-cnt {
        color: #9d9d9d;
        font: 18px/30px Roboto;
    }

    .my-cart-cnt {
        color: black;
        font: 18px/30px Roboto;
    }
}
.cart-container-inner-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;

    padding: 20px 36px;

    // opacity: 0.24;
    .cart-header-main-cnt {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 34%;
        margin-bottom: 19px;
    }
}

.cart-items-main-cnt {
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    .cart-items-main-info-cnt {
        width: 23.7%;
        height: 89px;
        display: flex;
        justify-content: space-between;

        .cart-items-main-info-img-cnt {
            width: 27.5%;
            height: 89px;
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
                height: 85px;
                object-fit: cover;
            }
        }

        .cart-items-main-info-txt-cnt {
            width: 56.35%;
            height: 100%;

            #cart-book-name-btn {
                text-align: left;
                font: normal normal normal 14px/17px Lato;
                letter-spacing: 0px;
                color: #0A0102;
                opacity: 1;
                margin-bottom: 8px;
            }

            #cart-book-author-btn {
                text-align: left;
                font: normal normal normal 10px/12px Lato;
                letter-spacing: 0px;
                color: #9D9D9D;
                opacity: 1;
                margin-bottom: 10px;
            }

            .cart-item-details {
                display: flex;
                gap: 11px;
                align-items: center;

                #cart-item-discountedPrice {
                    text-align: left;
                    font: normal normal bold 15px/18px Lato;
                    letter-spacing: 0px;
                    color: #0A0102;
                    opacity: 1;
                }

                #cart-item-originalPrice {
                    text-align: left;
                    text-decoration: line-through;
                    font: normal normal normal 9px/11px Lato;
                    letter-spacing: 0px;
                    color: #9D9D9D;
                    opacity: 1;
                }

            }

        }
    }
}

.cart-items-main-quantity-cnt {
    width: 33.7%;
    display: flex;
    gap: 26px;
    justify-content: flex-end;
    align-items: center;

    .cart-quantityControl-ctn {
        width: 32%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #cart-decrease-btn {
            width: 24px;
            height: 24px;
            background: #FAFAFA 0% 0% no-repeat padding-box;
            border: 1px solid #DBDBDB;
            border-radius: 50%;
            opacity: 1;
        }

        #cart-quantity-btn {
            width: 41px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #DBDBDB;
            border-radius: 2px;
            opacity: 1;
            text-align: left;
            font: normal normal medium 22px/27px Lato;
            letter-spacing: 0px;
            color: #333232;
            opacity: 1;
        }

        #cart-increase-btn {
            width: 24px;
            height: 24px;
            background: #FAFAFA 0% 0% no-repeat padding-box;
            border: 1px solid #DBDBDB;
            border-radius: 50%;
            opacity: 1;
        }
    }

    #cart-remove-btn {
        width: 42px;
        height: 20px;
        text-align: left;
        font: normal normal normal 12px/15px Lato;
        letter-spacing: 0px;
        color: #0A0102;
        opacity: 1;
    }
}

.cart-actions-main-cnt {
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-end;

    #cart-place-order-btn {
        width: 151px;
        height: 35px;
        /* UI Properties */
        background: #3371B5 0% 0% no-repeat padding-box;
        border-radius: 2px;
        opacity: 1;
    }
}

.cart-address-details-main-cnt {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
}

.cart-order-details-main-cnt {
    width: 100%;
    height: 60px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;
}


#demo-select-small-label {
    width: 200px;
    display: flex;
    align-items: center;
    text-align: left;
    font: normal normal normal 14px/17px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    opacity: 1;

    #demo-select-small-label-location-logo {
        width: 14px;
        height: 20px;
        /* UI Properties */
        // background: #A03037 0% 0% no-repeat padding-box;
        color: #A03037;
        opacity: 1;
    }
}

.cart-address-details-main1-cnt {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    padding-left: 36px;
    padding-right: 34px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;

    .cart-address-details-customer-txt-btn-cnt {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
            text-align: left;
            font: normal normal medium 18px/24px Roboto;
            letter-spacing: 0px;
            color: #333232;
            opacity: 1;
        }

        #cart-address-details-customer-btn {
            width: 150px;
            height: 35px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border: 1px solid #A03037;
            border-radius: 2px;
            opacity: 1;

            p {
                text-align: left;
                font: normal normal normal 12px/16px Roboto;
                letter-spacing: 0px;
                color: #A03037;
                opacity: 1;
            }
        }
    }

    .cart-address-details-customer-name-num-inp-cnt {
        width: 100%;
        display: flex;
        gap: 10px;

        .cart-address-details-customer-name-inp-cnt {
            width: 32.4%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            p {
                text-align: left;
                font: normal normal normal 12px/16px Roboto;
                letter-spacing: 0px;
                color: #0A0102;
                opacity: 1;
            }

            input {
                width: 100%;
                height: 45px;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border: 1px solid #DCDCDC;
                opacity: 1;
            }
        }
    }
}

.cart-address-details-customer-address-main-cnt {
    margin-top: 17px;
    width: 100%;
    display: flex;
    flex-direction: column;

    .cart-address-details-customer-address-txt1-cnt {
        width: 100%;
        display: flex;
        gap: 20px;

        #cart-address-details-customer-address-txt1 {
            text-align: left;
            font: normal normal medium 15px/20px Roboto;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }

        #cart-address-details-customer-address-txt2 {
            text-align: left;
            font: normal normal medium 12px/16px Roboto;
            letter-spacing: 0px;
            color: #A03037;
            opacity: 1;
        }
    }

    .cart-address-details-customer-address-inner-cnt {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 9px;

        p {
            text-align: left;
            font: normal normal normal 12px/16px Roboto;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }

        .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
            width: 66.1%;
            height: 82px;
        }

        .css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
            width: 100%;
            height: 100%;
            background: #F5F5F5 0% 0% no-repeat padding-box;
            border: 1px solid #DCDCDC;
            border-radius: 2px;
            opacity: 1;
        }
    }
}

.address-city-state-cnt {
    margin-top: 10px;
}

.cart-address-details-customer-address-last-btn-cnt {
    margin: 9px 0px 57px 0px;
    width: 99%;
    display: flex;
    justify-content: flex-end;
}

#cart-address-details-customer-state-inp {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    opacity: 1;
}

.cart-address-details-customer-address-main-display-cnt {
    margin-top: 26px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p {
        text-align: left;
        font: normal normal medium 15px/20px Roboto;
        letter-spacing: 0px;
        color: #0A0102;
        opacity: 1;
    }

    .cart-address-details-customer-address-main-display-inner-cnt {
        width: 54.6%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        p {
            text-align: left;
            font: normal normal medium 12px/16px Roboto;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }

        #address-display-txt {
            text-align: left;
            font: normal normal normal 12px/16px Roboto;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }
    }
}

.cart-order-details-main1-cnt {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 36px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;
    opacity: 1;

    #cart-order-summery-main-txt {
        margin-top: 19px;
        margin-bottom: 27px;
        text-align: left;
        font: normal normal medium 18px/24px Roboto;
        letter-spacing: 0px;
        color: #333232;
        opacity: 1;
    }
}

.cart-order-details-btn-cnt {
    margin-bottom: 23px;
    width: 97%;
    display: flex;
    justify-content: flex-end;
}

.cart-order-img-main-cnt {
    width: 100%;

    img {
        width: 100%;
        object-fit: cover;
    }
}

.order-main-cnt {
    margin-bottom: 70px;
}

.order-cnt-main-txt {
    width: 100%;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    opacity: 1;

    p {
        text-align: center;
        font: normal normal medium 12px/15px Lato;
        letter-spacing: 0px;
        color: #333232;
        opacity: 1;
    }

    #order-cnt-email-txt {
        margin-right: 33px;
    }

    #order-cnt-contact-txt{
        margin-right: 60px;
    }
    #order-cnt-address-txt{
        margin-right: 97px;
    }
}

.order-cnt-main-txt-info-cnt {
    width: 100%;
    display: flex;
    align-items: center;

    .order-cnt-main-txt-email-cnt {
        width: 29.6%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DCDCDC;
        opacity: 1;

        p {
            text-align: center;
            font: normal normal medium 12px/15px Lato;
            letter-spacing: 0px;
            color: #333232;
            opacity: 1;
        }
    }

    .order-cnt-main-txt-num-cnt {
        width: 29.8%;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #DCDCDC;
        opacity: 1;

        p {
            text-align: center;
            font: normal normal medium 12px/15px Lato;
            letter-spacing: 0px;
            color: #333232;
            opacity: 1;
        }
    }
}

.order-cnt-main-txt-address-cnt {
    width: 40.6%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    opacity: 1;

    p {
        text-align: center;
        font: normal normal medium 12px/15px Lato;
        letter-spacing: 0px;
        color: #333232;
        opacity: 1;
    }

}
.order-cnt-main-continue-btn-cnt{
    margin-top: 39px;
    width: 100%;
    display: flex;
    justify-content: center;
}