* {
    margin: 0px;
    padding: 0px;
}

.wishlist-main-cnt {
    width: 74.51%;
    // height: auto;
    padding-left: 12.59%;
    padding-right: 12.9%;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.wishlist-name-sort-opt-main-cnt {
    width: 100%;
    height: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .wishlist-total-count-main-cnt {
        display: flex;
        align-items: center;
        gap: 5px;

        #wishlist-book-text {
            text-align: left;
            font: normal normal normal 20px/16px Roboto;
            letter-spacing: 0px;
            color: #9D9D9D;
            opacity: 1;
        }

        #wishlist-total-count {
            text-align: left;
            font: normal normal normal 18px/33px Roboto;
            letter-spacing: 0px;
            color: #0A0102;
            opacity: 1;
        }
    }

}

.wishlist-container-inner-cnt {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DCDCDC;
    border-radius: 1px;

    .wishlist-header-main-cnt {
        width: 92.8%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 34%;
        padding: 20px 36px;
        background: #F5F5F5 0% 0% no-repeat padding-box;
        border: 1px solid #E4E4E4;
        border-radius: 1px;
        opacity: 1;
    }
}

.wishlist-items-main-cnt {
    width: 92.8%;
    height: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 36px;
    border: 1px solid #DCDCDC;

    .wishlist-items-main-info-cnt {
        width: 23.7%;
        height: 89px;
        display: flex;
        justify-content: space-between;

        .wishlist-items-main-info-img-cnt {
            width: 27.5%;
            height: 89px;
            display: flex;
            align-items: flex-end;

            img {
                width: 100%;
                height: 85px;
                object-fit: cover;
            }
        }

        .wishlist-items-main-info-txt-cnt {
            width: 56.35%;
            height: 100%;

            #wishlist-book-name-btn {
                text-align: left;
                font: normal normal normal 14px/17px Lato;
                letter-spacing: 0px;
                color: #0A0102;
                opacity: 1;
                margin-bottom: 8px;
            }

            #wishlist-book-author-btn {
                text-align: left;
                font: normal normal normal 10px/12px Lato;
                letter-spacing: 0px;
                color: #9D9D9D;
                opacity: 1;
                margin-bottom: 10px;
            }

            .wishlist-item-details {
                display: flex;
                gap: 11px;
                align-items: center;

                #wishlist-item-discountedPrice {
                    text-align: left;
                    font: normal normal bold 15px/18px Lato;
                    letter-spacing: 0px;
                    color: #0A0102;
                    opacity: 1;
                }

                #wishlist-item-originalPrice {
                    text-align: left;
                    text-decoration: line-through;
                    font: normal normal normal 9px/11px Lato;
                    letter-spacing: 0px;
                    color: #9D9D9D;
                    opacity: 1;
                }

            }

        }
    }
}

#wishlist-item-delete-logo {
    width: 20px;
    height: 23px;
    opacity: 1;
    color: #9D9D9D;
}
@media only screen and (min-width : 300px) and (max-width : 600px) {
    .wishlist-main-cnt {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
        padding: 0px;
        width: auto;
    }
    .wishlist-name-sort-opt-main-cnt {
        width: 63%;
        padding: 0px;
    }
    .wishlist-container-inner-cnt{
        .wishlist-header-main-cnt {
            padding-left: 20px;
            padding-right: 0px;
        }
    } 
}