* {
    margin: 0;
    padding: 0;
}
.navbar-main-cnt {
    // border: 2px solid black;
    background-color: #a03037;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 150px;
    height: 60px;
    // width: 100%;
}
.navbar-logo-search-main-cnt {
    display: flex;
    align-items: center;

    .search-icon {
        color: #9d9d9d;
    }
}
.navbar-logo-main-cnt {
    display: flex;
    // justify-content: center;
    align-items: center;
    gap: 20px;
    p {
        color: white;
    }
    :hover {
        cursor: pointer;
    }
}
.navbar-profile-cart-main-cnt {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navbar-profile-main-cnt {
    display: flex;
    flex-direction: column;
    gap: 6px;
    :hover {
        cursor: pointer;
    }
    align-items: center;
    .profile-icon {
        width: 62px;
        height: 29px;
        color: white;
    }
    p {
        color: white;
        font: normal normal normal 15px/17px Roboto;
    }
}
.navbar-cart-main-cnt {
    display: flex;
    flex-direction: column;
    // gap: 0px;
    align-items: center;
    width: 43px;
    height: 63px;
    .cart-icon {
        // width: 62px;
        height: 39px;
        color: white;
    }
    p {
        color: white;
        font: normal normal normal 15px/17px Roboto;
    }
}

.profile-after-login-cnt {
    // width: 200px;
    // height: 182px;
    padding: 10px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.profile-after-login-icon-cnt,
.profile-before-login-icon-cnt {
    display: flex;
    align-items: center;
    gap: 10px;
    :hover {
        cursor: pointer;
    }
    p {
        color: #9d9d9d;
    }
}
.profile-after-login-welcome-txt,
.profile-before-login-welcome-txt {
    font-weight: 600;
}
.profile-before-login-cnt {
    padding: 10px 40px 30px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 300px;
}
.profile-before-login-txt {
    color: #9d9d9d;
    font-size: 15px;
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    .navbar-main-cnt {
        // padding: 15px 20px;
        // height: 0%;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 35px;
    }

    .navbar-logo-search-main-cnt {
        // flex-direction: column;
        align-items: center;
        // gap: 10px;
    }

    .navbar-logo-main-cnt {
        gap: 10px;
        // justify-content: center;
    }

    .navbar-profile-cart-main-cnt {
        gap: 20px;
        flex-direction: row;
        justify-content: center;
    }

    .navbar-profile-main-cnt,
    .navbar-cart-main-cnt {
        flex-direction: row;
        gap: 5px;
        align-items: center;

        .profile-icon {
            width: 25px;
        }
    }

    .profile-after-login-cnt,
    .profile-before-login-cnt {
        padding: 10px 20px;
        // align-items: center;
        gap: 10px;
        width: 100%;

    }

    .profile-after-login-icon-cnt,
    .profile-before-login-icon-cnt {
        gap: 5px;
        justify-content: center;
    }

    .profile-before-login-txt {
        font-size: 14px;
        text-align: center;
    }
}

